*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#header{
    height: 100vh;
    background-image: url(images/background.png);
    background-position: center;    
    background-size: cover;
    
}
.container{
    margin-right: 100px;
    margin-left: 100px;
}
.logo{
    margin-top: 30px;
    width: 100px;
}
.header-text{
    max-width:350px;
    margin-top: 140px;
    
}
h1{
    font-size:34px;
}
.square{
    height:12px;
    width: 12px;
    display: inline-block;
    background: #f67c92;
    margin: 15px 0;
}
.common-btn{
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #f67c92;
    font-weight: bold;
    cursor: pointer; /* Adds the little thong of cursor when u go above the link*/
}
.common-btn:hover{
    background-color: #f67c92;
    background-image: none;
    color: white;
}
p{
    font-size: 15px;
    line-height: 18px;
    color: #777;
}
.header-text button{
    margin-top: 20px;
    margin-bottom: 60px;
}
.line-1{
    width:15px;
    height: 15px;
    background: #f67c92;
    display: inline-block;
}
.line-2{
    width:80px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.line-3{
    width:60px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.line{
    line-height: 8px;
}
#side_nav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #f67c92;
    z-index: 2;
    transition: .5s;
}
ul li {
    list-style-type: none;
}
a{
    font-size: 17px;
    text-decoration: none;
    color: white;
    margin-left: 25px;
    line-height: 70px;
}
ul{
    margin-top: 25px;
}
/*best way to size and resize an img is to include the img inside a div */
#container_menu_button{
    position: fixed;
    width: 50px;
    height: 50px;
    top: 33px;
    right:60px;
    cursor: pointer;
}
#container_menu_button img{
    width: 100%;
    height: auto;
}


/*<----about---->*/
/*<---flex e ndan ne kolona ne ketu e kemi ndare ne dy kolona-->*/
#about{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#about_left_col{
    flex-basis: 50%;
}
#about_left_col img{
    width: 100%;
}
#about_right_col{
    flex-basis: 50%;
    text-align: right;
}
#about_text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}
#square1{
    height: 12px;
    width: 12px;
    background-color: #f67c92;
    margin: 25px 0 25px 480px;
    
}
#square2{
    width: 15px;
    height: 15px;
    background-color: #f67c92;
    margin-top: 50px;
    margin-left: 480px;
}
#longer_line{
    width: 80px;
    height: 1px;
    background-color: #f67c92;
    margin-top: 11px;
    margin-left: 416px;
}
#shorter_line{
    width: 60px;
    height: 1px;
    background-color: #f67c92;
    margin-top: 7px;
    margin-left: 436px;
}
#about_text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}
#phrase{
    margin: 50px 0 10px;
    font-size: 28px;
    font-style: italic;
}

/*<----features---->*/
#features{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 70px 0;
    margin-left: 70px;
}
#first_col{
    flex-basis: 25%;
    margin-left: 50px;
}
#second_col{
    flex-basis: 25%;
    margin-left: 40px;
}
#third_col{
    flex-basis: 25%;
    margin-left: 120px;
}
#features img{
    width: 100px;
    margin-left: 160px;
    margin-right: 150px;
    margin-bottom: 15px;
}
#text_pic-1{
    text-align: center;
    margin-left: 0px;
}
#text_pic-2{
    text-align: center;
    margin-left: 90px;
}
#text_pic-3{
    text-align: center;
}
.feature-btn{
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #f67c92;
    font-weight: bold;
    cursor: pointer; /* Adds the little thong of cursor when u go above the link*/
    margin: 100px 0 50px 715px;
}
.feature-btn:hover{
    background-image: none;
    background-color: #f67c92;
    color: white;
}





